.button {
  margin-top: 20%;
  text-align: center;
}
.Accordion {
  background-color: grey;
}
.accordion-container {
  /* display: inline-block; */
  margin-left: 25%;
  margin-top: 10%;
  /* width: 50%; */
}
.ui.accordion .accordion .title .dropdown.icon,
.ui.accordion .title .dropdown.icon {
  float: right;
}
